* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Titillium Web";
  background-color: #242936;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container>* {
  flex: 1 100%;
}

section {
  margin-top:3% ;
  width: auto;
}


nav {
  position: fixed;
  display: flex;
  justify-content:center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #4f90b6;
  box-shadow: 0 4px 80px 0 rgba(216, 252, 9, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
  color: #f51a0b;
  padding: 20px;
  width: 90px;
  height: 50px;
  text-decoration: none;
}



.footer {
  background: white;
}


h1 {
  color: #EDFBFD;
  font-size: 300%;
}

h2 {
  color: #EDFBFD;
  font-size: 200%;
}

h2 .tittle {
  margin-bottom: 1rem;
}

.discoverButton {
  color: #f4e9da;
  font-family: "Titillium Web";
  font-size: 250%;
  margin-top: 3%;
}

.barra {
  display: block;
  position: relative;
  left: 50%;
  width: 16rem;
  height: 5px;
  margin-left: -8rem;
  background-color: #525e65;
}



@media all and (min-width: 600px) {
  .aside {
      flex: 1 0 0;
  }
}

@media all and (min-width: 800px) {
  .main {
      flex: 3 0px;
  }

  .aside-1 {
      order: 1;
  }

  .main {
      order: 2;
  }

  .aside-2 {
      order: 3;
  }

  .footer {
      order: 4;
  }
}


