* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Titillium Web";
  background-color: #222831;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container>* {
   display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;  

}

section {
  width: auto;
}

.text1, .text2 {
  display: inline;
}

nav {
  justify-content: center;
  display: flex;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #393E46;
  box-shadow: 0 4px 80px 0 rgba(216, 252, 9, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sameline{
  font-size: 90%;
}

a {
  margin: 0.5rem;
  font-size:90% ;
  color: #E8E5E2;
  text-decoration: none;
  text-align: center;
}


.box {
  border: 1px solid #E8E5E2;
  font-size:130%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 5%;
  margin-bottom: 6%;
  
}
.box:hover, a:active {
  transition: 0.7s;
  background-color: #00ADB5;
  font-size:140%;
}

#services{
  margin-top: 5%;
}

.footer {
  background: white;
}


h1 {
  color: #E8E5E2;
  font-size: 270%;
  font-weight:lighter;
}

.hi {
  padding-top:2.5% ;
  padding-left: 5%;
  padding-right:5% ;
}
h2 {
  color: #E8E5E2;
  font-size: 200%;
  font-weight: 100;
}

.tittle {
  margin-bottom: 1rem;
  font-weight: 900;
}

.discoverButton {
  font-size: 180%;
  color: #E8E5E2;
  font-family: "Titillium Web";
  display: contents;
}

.barra {
  display: block;
  position: relative;
  width: 16rem;
  height: 5px;
  background-color: #525e65;
}



@media all and (min-width: 600px) {
  .aside {
      flex: 1 0 0;
  }
}

@media all and (min-width: 800px) {
  .main {
      flex: 3 0px;
  }

  .aside-1 {
      order: 1;
  }

  .main {
      order: 2;
  }

  .aside-2 {
      order: 3;
  }

  .footer {
      order: 4;
  }
}


