.container {
  display:block;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #242936;
  height: auto;
  width: auto;
}

section {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #242936;
    height: auto;
    width: auto;
}


#home {
}

#about {
  margin-top: 3.5rem;
}


#services {
  margin-top: 5rem;
}

#portfolio {
    margin-top: 5rem;
  }

  #contact {
    margin-top: 5rem;
    background-color: #F4E9DA;
    min-width: fit-content;
  }


.foto {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.sameline h1 {
  display: inline;
}

.text1 {
  font-family: "Titillium Web";
}

.text2 {
  font-family: "Titillium Web";
}

.row1 {
  margin-top: 5%;
  display: flex;
}

.row2 {
  margin-top: 5%;
  display: flex;
}
.card {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  max-width: 400px;
  min-width: 100px;
  background-color: transparent;
  margin-bottom: 1rem;
}

.logo {
  height: 50px;
  width: auto;
  
}

.worksimg {
    width: 20rem;
    background-color: aliceblue;
  }

.iconText {
    color: #f4e9da;
    font-size: 110%;
}


.barra {
  display: block;
  position: relative;
  left: 50%;
  width: 16rem;
  height: 5px;
  margin-left: -8rem;
  background-color: #525e65;
}

.arrow-down {
    margin: auto;
    max-width:fit-content; 
    border-left: 46.5rem solid transparent;
    border-right: 46.5rem solid transparent;
    
    border-top: 200px solid #242936;
  }

  
.html5{
    margin-top: -10px;
    border-bottom: 8px solid #ED5E27;
    width: 100%;
  }

  .css3{
      margin-top: -10px;
      border-bottom: 8px solid #2965F1;
      width: 80%;
    }
    .javascript{
      margin-top: -10px;
      border-bottom: 8px solid #F0DB4F;
      width: 80%;
    }
    .angular{
      margin-top: -10px;
      border-bottom: 8px solid #E23237;
      width: 90%;
    }
    .wordpress{
      margin-top: -10px;
      border-bottom: 8px solid #57A7C4;
      width: 60%;
    }
    .git{
      margin-top: -10px;
      border-bottom: 8px solid #F05033;
    }
    .photoshop{
      margin-top: -10px;
      border-bottom: 8px solid #31A8FF;
    }
    .nosql{
      margin-top: -10px;
      border-bottom: 8px solid #FFC400;
    }
    .jira{
      margin-top: -10px;
      border-bottom: 8px solid #1175F7;
      width: 20%;
    }
    .typescript{
      margin-top: -10px;
      border-bottom: 8px solid #2D79C7;
      background: linear-gradient(to right, brown 50px, #ccc 50px);
      width: 70%;
    }


      