<div id="navbar">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#portfolio">Portfolio</a>
    <a href="#contact">Contact</a>
</div>

<body class="container">

    <section id="home">
        <img class="foto" src="https://avatars.githubusercontent.com/u/68655722?v=4">


        <h1>Hi, my name is Angel Belmar</h1>
        <h2>I design and code beautifully simple things, and I love what I do</h2>
        <div class="sameline">
            <h1 class="text1"></h1>
            <h1 class="text2"></h1>
        </div>
        <div class="discoverButton">
            <a href="#about">Take a quick look and discover me</a>
        </div>
        
    </section>



    <section id="about">
        <h2 class="tittle"> What I know</h2>
        <div class="barra"> </div>

        <div class="row1">

            <div class="card">
                <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/HTML5.png">
                <p class="iconText">HTML5</p>
                <div class="html5"></div>
            </div>

            <div class="card">
                <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/CSS3.png">
                <p class="iconText">CSS3</p>
                <div class="css3"></div>
            </div>

            <div class="card">
                <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/Javascript.png">
                <p class="iconText">Javascript</p>
                <div class="javascript"></div>

            </div>

            <div class="card">
                <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/Angular.png">
                <p class="iconText">Angular</p>
                <div class="angular"></div>
            </div>

            <div class="card">
                <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/NoSQL.png">
                <p class="iconText">NoSQL</p>
                <div class="nosql"></div>
            </div>

        </div>
        <div class="row2">
            
            <div class="card">
                <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/Typescript.png">
                <p class="iconText">TypeScript</p>
                <div class="typescript"></div>
            </div>

            <div class="card">
                <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/Git.png">
                <p class="iconText">Git</p>
                <div class="git"></div>
            </div>

            <div class="card">
                <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/Photoshop.png">
                <p class="iconText">Photoshop</p>
                <div class="photoshop"></div>
            </div>

            <div class="card">
                <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/Jira.png">
                <p class="iconText">Jira</p>
                <div class="jira"></div>
            </div>

    

            <div class="card">
                <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/Wordpress.png">
                <p class="iconText">Wordpress</p>
                <div class="wordpress"></div>
            </div>




        </div>
    </section>




    <section id="services">
        <h2 class="tittle">Services</h2>
        <div class="barra"> </div>
        <h2 class="tittle">With a junior experience, I have worked like</h2>

        <div class="row1">

            <div class="card">
                <img class="logo"
                    src="https://cdn-icons-png.flaticon.com/512/2705/2705224.png">
                <p class="iconText">Web developer</p>
            </div>


            <div class="card">
                <img class="logo" src="https://cdn-icons-png.flaticon.com/512/2496/2496742.png">
                <p class="iconText">Photoshop services</p>
            </div>


            <div class="card">
                <img class="logo"
                    src="https://cdn-icons.flaticon.com/png/512/5680/premium/5680036.png?token=exp=1655915816~hmac=f094329897fa821774095c74b6c57f67">
                <p class="iconText">DevSecOps</p>
            </div>


            <div class="card">
                <img class="logo"
                    src="https://cdn-icons-png.flaticon.com/512/2463/2463510.png">
                <p class="iconText">Full Stack Developer</p>
            </div>

        </div>
        <h2>I'm always up to learn anything new</h2>
    </section>




   
    <section id="portfolio">
         
    <h2 class="tittle">Things I've done</h2>
    <div class="barra"> </div>
        

        <div class="row1">
            <div class="card">
                <a href="http://wwww.angelbelmar.com">
                <img class="worksimg"
                    src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/cover-photo%2Cbackground%2C-technology-design-template-d7e7283570838b88ee81709a320e562a_screen.jpg?ts=1597391993">
                </a>
                <p class="iconText">Crypto dashboard</p>
            </div>

            <div  class="card">
                <a href="http://wwww.angelbelmar.com"></a>
                <img class="worksimg"
                    src="https://images.ctfassets.net/hrltx12pl8hq/6QpKgim9qMgGK8QG2a6gaC/2de28b955c0cf902004fecd1a1e62bee/sub-category-1.jpg?fit=fill&w=368&h=207">
                <p class="iconText">PHP website</p>
            </div>

            <div class="card">
                <a href="http://wwww.angelbelmar.com"></a>
                <img class="worksimg"
                    src="https://i.ytimg.com/vi/4UYxB_UhJ9A/maxresdefault.jpg">
                <p class="iconText">Photoshop edits</p>
            </div>

        </div>
        <h2>And more coming soon..</h2>

    </section>


    <section id="contact">
        <div class="arrow-down"></div>
        <h2 class="tittle" style="color:#242936">Contact</h2>
        <div class="barra"> </div>

        <h2>Send me an email</h2>
        <form>
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname" value="John"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname" value="Doe"><br><br>
                <input type="submit" value="Submit">
              </form>
           
              <h2>Send me an email</h2>
    </section>

</body>