.container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #242936;
  height: auto;
}

section {
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#welcome {
  background-color: #242936;
}

#about {
  margin-top: 3.5rem;
  background-color: #242936;
}


#services {
  margin-top: 5rem;
  background-color:  #242936;
}

#portfolio {
    margin-top: 5rem;
    background-color:  #242936;
  }

  #contact {
    margin-top: 5rem;
    background-color: rgb(188, 188, 188);
  }


.foto {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.sameline h1 {
  display: inline;
}

.text1 {
  font-family: "Titillium Web";
}

.text2 {
  font-family: "Titillium Web";
}

.row1 {
  margin-top: 5%;
  display: flex;
}

.row2 {
  margin-top: 5%;
  display: flex;
}
.card {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  max-width: 400px;
  min-width: 100px;
  background-color: transparent;
  margin-bottom: 1rem;
}

.logo {
  height: 50px;
  width: auto;
  
}

.worksimg {
    width: 20rem;
    background-color: aliceblue;
  }

.iconText {
    color: #f4e9da;
    font-size: 110%;
}


.barra {
  display: block;
  position: absolute;
  left: 50%;
  width: 16rem;
  height: 5px;
  margin-left: -8rem;
  background-color: #525e65;
}

.arrow-down {
    margin: auto;
    max-width:fit-content; 
    border-left: 46.5rem solid transparent;
    border-right: 46.5rem solid transparent;
    
    border-top: 200px solid #242936;
  }